{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="box-type1">
	<div class="title">
		<span class="widget-title">{{ referenceableEntityConfig.get("label")|trans }}</span>
		{% if referenceableEntityConfig.get("datagrid_name_select") %}
			{{ UI.clientLink({
				'dataUrl': path('mekit_relationship_widget_select_items', {id: referenceableElement.id, type: entity_class} ),
				'aCss': 'no-hash btn btn-primary',
				'iCss': '',
				'dataId': referenceableElement.id,
				'title' : "mekit.relationship.select_references.label"|trans,
				'label' : "mekit.relationship.select.label"|trans,
				'widget' : {
					'type' : 'dialog',
					'multiple' : false,
					'reload-grid-name' : referenceableEntityConfig.get("datagrid_name_list"),
					'options' : {
						'dialogOptions' : {
							'title' : "mekit.relationship.select_references.label"|trans,
							'allowMaximize': true,
							'allowMinimize': false,
							'width': 900
						}
					}
				}
			}) }}
		{% endif %}
	</div>
	<div class="row-fluid">
		{{ dataGrid.renderGrid(referenceableEntityConfig.get("datagrid_name_list"), {ref_el_id: referenceableElement.id}, { cssClass: 'inner-grid' } ) }}
	</div>
</div>
