{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
	<div class="widget-actions">
		{#SELECT BUTTON#}
		{% if referenceableEntityConfig.get("datagrid_name_select") %}
			{{ UI.clientButton({
				'dataUrl': path('mekit_relationship_widget_select_items', {id: referenceableElement.id, type: entity_class} ),
				'aCss': 'no-hash btn-mini btn-primary btn-uppercase',
				'iCss': '',
				'dataId': referenceableElement.id,
				'title' : "mekit.relationship.select_references.label"|trans|replace({'%s': referenceableEntityConfig.get("label")|trans}),
				'label' : "mekit.relationship.select.label"|trans,
				'widget' : {
					'type': 'dialog',
					'multiple' : false,
					'reload-grid-name' : referenceableEntityConfig.get("datagrid_name_list"),
					'stateEnabled': false,
					'options' : {
						'dialogOptions' : {
							'title' : "mekit.relationship.select_references.label"|trans|replace({'%s': referenceableEntityConfig.get("label")|trans}),
							'allowMaximize': true,
							'allowMinimize': false,
							'width': 900
						}
					}
				}
			}) }}
		{% endif %}
	</div>

	<div class="row-fluid">
		{{ dataGrid.renderGrid(referenceableEntityConfig.get("datagrid_name_list"), {ref_el_id: referenceableElement.id}, { cssClass: 'inner-grid' } ) }}
	</div>

</div>