<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "false"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "src/Mekit/Bundle/TestBundle/Phpunit/bootstrap.php"
        >

    <testsuites>
        <testsuite name="MekitCRM Unit Test Suite">
            <directory suffix="Test.php">src/Mekit/Bundle/*Bundle/Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <!--<logging>-->
        <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
    <!--</logging>-->

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mekit/Bundle</directory>
            <exclude>
                <directory>src/Mekit/Bundle/*Bundle/Tests</directory>
                <directory>src/Mekit/Bundle/*Bundle/Resources</directory>
                <directory>src/Mekit/Bundle/*Bundle/DataFixtures</directory>
                <directory>src/Mekit/Bundle/*Bundle/vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
