{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set directionLabel = 'mekit.call.direction.'~entity.direction~'.label' %}

<div class="widget-content">
	<div class="row-fluid form-horizontal">
		<div class="responsive-block">
			{{ UI.renderProperty('mekit.call.description.label'|trans, entity.description) }}
			{{ UI.renderProperty('mekit.call.direction.label'|trans, directionLabel|trans) }}
			{{ UI.renderProperty('mekit.call.outcome.label'|trans, entity.outcome ? entity.outcome.label : null) }}
		</div>
	</div>
</div>
