{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'contacts-grid' %}
{% set pageTitle = 'mekit.contact.entity_plural_label'|trans %}


{% block navButtons %}
	{% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
		entity_class: entity_class,
		exportProcessor: 'mekit_contact',
		exportTemplateProcessor: 'mekit_contact',
		importProcessor: 'mekit_contact.add_or_replace',
		importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'mekit.contact.entity_plural_label'|trans}),
		dataGridName: gridName
	} %}

	{% if resource_granted('mekit_contact_create') %}
		<div class="btn-group">
			{{ UI.addButton({
			'path' : path('mekit_contact_create'),
			'entity_label': 'mekit.contact.entity_label'|trans
			}) }}
		</div>
	{% endif %}
{% endblock %}
