#mekit_account_form .removeRow {
    text-indent: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 15px
}

#mekit_account_form .removeRow:after {
    display: inline-block;
    font: 14px/1em 'FontAwesome';
    color: #ddd;
    content: "\f00d";
    text-indent: 0
}

#mekit_account_form .removeRow:hover:after {
    color: #888
}