{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'events-grid' %}
{% set pageTitle = 'mekit.event.entity_plural_label'|trans %}


{% block navButtons %}
	{# - CREATE EVENT - TEMPORARY #}
	{#<div class="btn-group">#}
		{#{{ UI.addButton({#}
		{#'path': path('mekit_event_create'),#}
		{#'entity_label': 'mekit.event.entity_label'|trans#}
		{#}) }}#}
	{#</div>#}

	{# - CREATE TASK - #}
	<div class="btn-group">
		{{ UI.addButton({
			'iCss': 'icon-flag hide-text',
			'path': path('mekit_task_create'),
			'entity_label': 'mekit.task.entity_label'|trans
		}) }}
	</div>


{% endblock %}
