{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'calls-grid' %}
{% set pageTitle = 'mekit.call.entity_plural_label'|trans %}

{% block navButtons %}
	<div class="btn-group">
		{{ UI.addButton({
		'path' : path('mekit_call_create'),
		'entity_label': 'mekit.call.entity_label'|trans
		}) }}
	</div>
{% endblock %}
