.widget-content .form-two-columns{display: table;}
.widget-content .form-two-columns .form-column-left{width:50%; display: table-cell; padding-right:20px;}
.widget-content .form-two-columns .form-column-right{width:50%; display: table-cell; border-left:1px solid #dedede;}
